# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/moviemate.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
.env
*.log
.idea/
.vscode/